<footer class="bg-info text-center text-lg-start fixed-bottom">
  <!-- Grid container -->
  <!-- Grid container -->

  <!-- Copyright -->
  <footer>
    <nav
      id="navbar-footer"
      class="navbar navbar-main navbar-expand-lg navbar-dark justify-content-between navbar-footer mt-auto"
      style="margin-top: auto"
    >
      <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
        <li class="nav-item">
          <a href="/login" class="nav-link" role="button">
            <span class="nav-link-inner-text">Login</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="/login/register" class="nav-link" role="button">
            <span class="nav-link-inner-text">Register</span>
          </a>
        </li>
      </ul>
      <div class="time text-center">
        <span class="time text-uppercase">1:47 PM</span>
      </div>
    </nav>
  </footer>
  <!-- Copyright -->
</footer>
