<div class="col-12 col-lg-6 mb-lg-0 Schedule pt-0">
  <div class="card card-tertiary insideSch">
    <div class="card-header">
      <span class="icon icon-xs w95-folder"></span>
      <span class="ml-4">Default Tertiary Card Header Title</span>
      <button
        class="btn mr-2 mb-2 btn-danger pt-0 pb-0 pr-1 pl-1 closeschedule"
        type="button"
        style="position: absolute; right: 0; margin: 0"
      >
        <span class="btn-text">X</span>
      </button>
    </div>
    <div
      class="card-body"
      style="
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        overflow: auto;
      "
    >
      <table
        class="Schedule_table"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: auto;
        "
      >
        <tr>
          <th>&nbsp;</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
        </tr>
        <tr>
          <th>1</th>
          <td id="Mon-1">&nbsp;</td>
          <td id="Tue-1">&nbsp;</td>
          <td id="Wed-1">&nbsp;</td>
          <td id="Thu-1">&nbsp;</td>
          <td id="Fri-1">&nbsp;</td>
        </tr>
        <tr>
          <th>2</th>
          <td id="Mon-2">&nbsp;</td>
          <td id="Tue-2">&nbsp;</td>
          <td id="Wed-2">&nbsp;</td>
          <td id="Thu-2">&nbsp;</td>
          <td id="Fri-2">&nbsp;</td>
        </tr>
        <tr>
          <th>3</th>
          <td id="Mon-3">&nbsp;</td>
          <td id="Tue-3">&nbsp;</td>
          <td id="Wed-3">&nbsp;</td>
          <td id="Thu-3">&nbsp;</td>
          <td id="Fri-3">&nbsp;</td>
        </tr>
        <tr>
          <th>4</th>
          <td id="Mon-4">&nbsp;</td>
          <td id="Tue-4">&nbsp;</td>
          <td id="Wed-4">&nbsp;</td>
          <td id="Thu-4">&nbsp;</td>
          <td id="Fri-4">&nbsp;</td>
        </tr>
        <tr>
          <th>5</th>
          <td id="Mon-5">&nbsp;</td>
          <td id="Tue-5">&nbsp;</td>
          <td id="Wed-5">&nbsp;</td>
          <td id="Thu-5">&nbsp;</td>
          <td id="Fri-5">&nbsp;</td>
        </tr>
        <tr>
          <th>6</th>
          <td id="Mon-6">&nbsp;</td>
          <td id="Tue-6">&nbsp;</td>
          <td id="Wed-6">&nbsp;</td>
          <td id="Thu-6">&nbsp;</td>
          <td id="Fri-6">&nbsp;</td>
        </tr>
        <tr>
          <th>7</th>
          <td id="Mon-7">&nbsp;</td>
          <td id="Tue-7">&nbsp;</td>
          <td id="Wed-7">&nbsp;</td>
          <td id="Thu-7">&nbsp;</td>
          <td id="Fri-7">&nbsp;</td>
        </tr>
        <tr>
          <th>8</th>
          <td id="Mon-8">&nbsp;</td>
          <td id="Tue-8">&nbsp;</td>
          <td id="Wed-8">&nbsp;</td>
          <td id="Thu-8">&nbsp;</td>
          <td id="Fri-8">&nbsp;</td>
        </tr>
        <tr>
          <th>9</th>
          <td id="Mon-9">&nbsp;</td>
          <td id="Tue-9">&nbsp;</td>
          <td id="Wed-9">&nbsp;</td>
          <td id="Thu-9">&nbsp;</td>
          <td id="Fri-9">&nbsp;</td>
        </tr>
        <tr>
          <th>10</th>
          <td id="Mon-10">&nbsp;</td>
          <td id="Tue-10">&nbsp;</td>
          <td id="Wed-10">&nbsp;</td>
          <td id="Thu-10">&nbsp;</td>
          <td id="Fri-10">&nbsp;</td>
        </tr>
        <tr>
          <th>11</th>
          <td id="Mon-11">&nbsp;</td>
          <td id="Tue-11">&nbsp;</td>
          <td id="Wed-11">&nbsp;</td>
          <td id="Thu-11">&nbsp;</td>
          <td id="Fri-11">&nbsp;</td>
        </tr>
        <tr>
          <th>12</th>
          <td id="Mon-12">&nbsp;</td>
          <td id="Tue-12">&nbsp;</td>
          <td id="Wed-12">&nbsp;</td>
          <td id="Thu-12">&nbsp;</td>
          <td id="Fri-12">&nbsp;</td>
        </tr>
        <tr>
          <th>13</th>
          <td id="Mon-13">&nbsp;</td>
          <td id="Tue-13">&nbsp;</td>
          <td id="Wed-13">&nbsp;</td>
          <td id="Thu-13">&nbsp;</td>
          <td id="Fri-13">&nbsp;</td>
        </tr>
        <tr>
          <th>14</th>
          <td id="Mon-14">&nbsp;</td>
          <td id="Tue-14">&nbsp;</td>
          <td id="Wed-14">&nbsp;</td>
          <td id="Thu-14">&nbsp;</td>
          <td id="Fri-14">&nbsp;</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<footer class="bg-info text-center text-lg-start fixed-bottom">
  <!-- Grid container -->
  <!-- Grid container -->

  <!-- Copyright -->
  <footer>
    <nav
      id="navbar-footer"
      class="navbar navbar-main navbar-expand-lg navbar-dark justify-content-between navbar-footer mt-auto"
      style="margin-top: auto"
    >
      <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
        <li class="nav-item">
          <a href="/" class="nav-link" role="button" onclick="clearck()">
            <span class="nav-link-inner-text">Logout</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link" role="button" onclick="">
            <span class="nav-link-inner-text">Search</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link buttonschedule"
            role="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasBottom"
            aria-controls="offcanvasBottom"
          >
            <span class="nav-link-inner-text buttonschedule" id="buttonschedule"
              >Schedule</span
            >
          </a>
        </li>
      </ul>
      <div class="time text-center">
        <span class="time text-uppercase">1:47 PM</span>
      </div>
    </nav>
  </footer>
  <!-- Copyright -->
</footer>

<script>
  function clearck() {
    $.removeCookie("fcu_token");
    $.removeCookie("fcu_std_id");
  }
</script>
