<!--

=========================================================
* Windows 95 UI Kit
=========================================================

* Product Page: https://themesberg.com/product/ui-kit/windows-95-ui-kit
* Copyright 2019 Themesberg (https://www.themesberg.com)
* License Themesberg (Crafty Dwarf LLC) (https://themesberg.com/licensing)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="canonical"
      href="https://themesberg.com/product/ui-kit/windows-95-ui-kit"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Windows 95 UI Kit</title>
    <meta name="author" content="Themesberg" />
    <meta
      name="description"
      content="Windows 95 is a free Retro UI Kit to bring back the great memories of the 95's. Original Windows 95 Buttons, Icons, Windows, Tabs and many more await you!"
    />
    <meta
      name="keywords"
      content="Windows 95, Windows 95 UI Kit, Windows 95 Buttons, Windows 95 Cards, Windows 95 Icons, Windows 95 Forms, Windows 95 Typography, Windows 95 Website, Retro Website, Bootstrap Retro, Themesberg"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://themesberg.com/product/ui-kit/windows-95-ui-kit"
    />
    <meta property="og:title" content="Windows 95 UI Kit" />
    <meta
      property="og:description"
      content="Windows 95 is a free Retro UI Kit to bring back the great memories of the 95's. Original Windows 95 Buttons, Icons, Windows, Tabs and many more await you!"
    />
    <meta
      property="og:image"
      content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/windows-95/windows-95-ui-kit-preview.jpg"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://themesberg.com/product/ui-kit/windows-95-ui-kit"
    />
    <meta property="twitter:title" content="Windows 95 UI Kit" />
    <meta
      property="twitter:description"
      content="Windows 95 is a free Retro UI Kit to bring back the great memories of the 95's. Original Windows 95 Buttons, Icons, Windows, Tabs and many more await you!"
    />
    <meta
      property="twitter:image"
      content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/windows-95/windows-95-ui-kit-preview.jpg"
    />
    <!-- Favicon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='img/favicon/safari-pinned-tab.svg') }}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Bootstrap CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}"
    />
    <!-- Pixel CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='css/w95.css') }}"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-141734189-1");
    </script>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <div class="col-12 col-lg-6 mb-lg-0 Schedule">
      <div class="card card-tertiary insideSch">
        <div class="card-header">
          <span class="icon icon-xs w95-folder"></span>
          <span class="ml-4">Default Tertiary Card Header Title</span>
          <button
            class="btn mr-2 mb-2 btn-danger pt-0 pb-0 pr-1 pl-1 closeschedule"
            type="button"
            style="position: absolute; right: 0"
          >
            <span class="btn-text">X</span>
          </button>
        </div>
        <div
          class="card-body"
          style="
            justify-content: center;
            align-items: center;
            margin-right: 0px;
          "
        >
          <table
            class="Schedule_table"
            style="display: flex; align-items: center; justify-content: center"
          >
            <tr>
              <th>&nbsp;</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
            </tr>
            <tr>
              <th>1</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>2</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>3</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>4</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>5</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>6</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>7</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>8</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>9</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>10</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>11</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>12</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>13</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <th>14</th>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <main
      class="container-fluid bg-secondary h-100"
      style="
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
      "
    >
    <div class="col-12 col-lg-8 mb-4 mb-lg-0">
      <div class="card card-tertiary">
        <div class="card-header">
          <span class="icon icon-xs w95-folder"></span>
          <span class="" style="font-size: medium">課程搜尋</span>
        </div>
        <form action="/submit" method="post"> <div class="card-body">
          <div class="mb-4 mb-md-5">
            <h6 class="text-gray" style="font-size: 1.5rem">
              依開課系所查詢
            </h6>
          </div>
          <div
            class="form-group d-flex align-items-center justify-content-between"
          >
            <label for="Degree" class="mr-3" style="font-size: 1.5rem"
              >學制:</label
            >
            <select class="form-control w-75" style="font-size: 1rem" name="Degree" id="degree-list">
              <option value="0">學制</option>
              <option value="1">大學部</option>
              <option value="3">碩士班</option>
              <option value="4">博士班</option>
              <option value="5">進修學士班</option>
            </select>
          </div>
          <div
            class="form-group d-flex align-items-center justify-content-between"
          >
            <label for="College" class="mr-3" style="font-size: 1.5rem" 
              >學院:</label
            >
            <select class="form-control w-75" style="font-size: 1rem" name="College"id="college-list" onchange="changeCollege(this.selectedIndex)">
              
            </select>
          </div>
          <div
            class="form-group d-flex align-items-center justify-content-between"
          >
            <label for="default" class="mr-3" style="font-size: 1.5rem" for="Department" 
              >系所:</label
            >
            <select class="form-control w-75" style="font-size: 1rem" name="Department"id="sector-list">
              
            </select>
          </div>
          <div
            class="form-group d-flex align-items-center justify-content-between"
          >
            <label for="default" class="mr-3" style="font-size: 1.5rem" for="Class"
              >年級:</label
            >
            <select class="form-control w-75" style="font-size: 1rem" name="Classid">
              <option>年級:</option>
              <option value="CE07124">資訊二丁</option>
            </select>
          </div>
          <div class="form-group d-flex justify-content-between mb-2"></div>
          <div class="form-group d-flex justify-content-end mb-4"></div>
          <div class="d-flex justify-content-end">
            <div class="d-flex">
              <button
                class="btn btn-sm mr-3 btn-primary border-dark"
                type="submit"
              >
                <span class="btn-text">Submit</span>
              </button>
              <button class="btn btn-sm btn-primary" type="button">
                <span class="btn-text">Cancel</span>
              </button>
            </div>
          </div>
          
      </div>
      </form>
       
    </main>

    <footer class="bg-info text-center text-lg-start fixed-bottom">
      <!-- Grid container -->
      <!-- Grid container -->

      <!-- Copyright -->
      <footer>
        <nav
          id="navbar-footer"
          class="navbar navbar-main navbar-expand-lg navbar-dark justify-content-between navbar-footer mt-auto"
          style="margin-top: auto"
        >
          <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
            <li class="nav-item">
              <a href="./login.html" class="nav-link" role="button">
                <span class="nav-link-inner-text">Login</span>
              </a>
            </li>

            <li class="nav-item">
              <a href="./register.html" class="nav-link" role="button">
                <span class="nav-link-inner-text">Register</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link buttonschedule"
                role="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasBottom"
                aria-controls="offcanvasBottom"
              >
                <span class="nav-link-inner-text buttonschedule">Schedule</span>
              </a>
            </li>
          </ul>
          <div class="time text-center">
            <span class="time text-uppercase">1:47 PM</span>
          </div>
        </nav>
      </footer>
      <!-- Copyright -->
    </footer>
    <script type="text/javascript">
      var colleges = [
        "商學院",
        "工學院",
        "建設學院",
        "金融學院",
        "建築專業學院",
        "國際科技與管理學院",
        "資電學院",
        "人文社會學院",
        "理學院",
        "經營管理學院",
        "跨領域設計學院",
        "跨科系學習",
      ];
      var collegeSelect = document.getElementById("college-list");
      var inner = "";
      for (var i = 0; i < colleges.length; i++) {
        inner = inner + "<option value=i>" + colleges[i] + "</option>";
      }
      collegeSelect.innerHTML = inner;

      var sectors = new Array();
      sectors[0] = [
        "會計學系",
        " 國際經營與貿易學系",
        " 財稅學系",
        " 合作經濟暨社會事業經營學系",
        " 統計學系 ",
        " 經濟學系",
        " 企業管理學系",
        " 行銷學系",
      ];
      sectors[1] = [
        "機械與電腦輔助工程學系 ",
        " 纖維與複合材料學系 ",
        " 工業工程與系統管理學系 ",
        " 化學工程學系 ",
        " 航太與系統工程學系 ",
      ];
      sectors[2] = [
        "土木工程學系 ",
        " 水利工程與資源保育學系 ",
        " 都市計畫與空間資訊學系 ",
        " 運輸與物流學系 ",
        " 土地管理學系 ",
      ];
      sectors[3] = [
        "風險管理與保險學系 ",
        " 財務金融學系 ",
        " 財務工程與精算學士學位學程 ",
        "金融碩士在職學位學程 ",
        "金融博士學位學程 ",
      ];
      sectors[4] = [
        "建築專業學院學士班 ",
        " 建築學士學位學程 ",
        " 室內設計學士學位學程 ",
        " 室內設計進修學士班 ",
        " 創新設計學士學位學程 ",
        " 建築碩士學位學程 ",
        " 建築碩士在職學位學程",
        "澳洲墨爾本皇家理工大學商學與創新雙學士學位學程 ",
        "美國聖荷西州立大學商學大數據分析雙學士學位學程 ",
      ];
      sectors[5] = [
        "美國普渡大學電機資訊雙學士學位學程 ",
        "西班牙薩拉戈薩大學物流供應鏈管理與創新創業雙碩士學位學程 ",
        "國際經營管理碩士學位學程 ",
      ];
      sectors[6] = [
        "資訊工程學系 ",
        " 電機工程學系 ",
        " 電子工程學系 ",
        " 自動控制工程學系 ",
        " 通訊工程學系",
        " 資電不分系榮譽班 ",
        "資訊電機工程碩士在職學位學程 ",
        " 產業研發碩士專班 ",
        " 生醫資訊暨生醫工程碩士學位學程 ",
        " 視光科技碩士在職學位學程 ",
        "電機與通訊工程博士學位學程 ",
        " 智慧聯網產業博士學位學程",
      ];
      sectors[7] = [
        "中國文學系 ",
        " 外國語文學系 ",
        "歷史與文物研究所 ",
        " 公共事務與社會創新研究所 ",
      ];
      sectors[8] = [
        "應用數學系 ",
        " 環境工程與科學學系 ",
        " 材料科學與工程學系 ",
        " 光電學系 ",
        "微積分教學中心 ",
        " 物理教學研究中心 ",
      ];
      sectors[9] = ["經營管理碩士在職學位學程 ", " 電子商務碩士在職專班 "];
      sectors[10] = [];
      sectors[11] = [
        "通識教育中心 ",
        " 雲端學院 ",
        "外語教學中心 ",
        " 國語文教學中心 ",
        "全校國際生大一不分系學士班 ",
      ];
      function changeCollege(index) {
        var Sinner = "";
        for (var i = 0; i < sectors[index].length; i++) {
          Sinner =
            Sinner + "<option value=i>" + sectors[index][i] + "</option>";
        }
        var sectorSelect = document.getElementById("sector-list");
        sectorSelect.innerHTML = Sinner;
      }
      
      var sectorss = new Array();
      
    </script>
    <!-- Core -->
    <!-- <script src="node_modules/popper.js/dist/umd/popper.min.js"></script> -->
    <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- pixel JS -->
    <script src="{{ url_for('static', filename='js/w95.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
