<html ng-app="MyApp" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/loading-bar.min.css" rel="stylesheet" type="text/css">
    <link href="css/Stylesheet.css" rel="stylesheet" type="text/css">
    <!--<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />-->

    <script src="js/angular.min.js?20180503" type="text/javascript"></script>

    <script src="js/teachOutline.js?20230323" type="text/javascript"></script>

    <script src="js/angular-animate.min.js" type="text/javascript"></script>

    <script src="js/angular-sanitize.min.js" type="text/javascript"></script>

    <script src="js/angular-route.min.js" type="text/javascript"></script>

    <script src="js/json2.js" type="text/javascript"></script>

    <script src="js/Utility.js?20220126" type="text/javascript"></script>

    <script src="js/DES.js" type="text/javascript"></script>

    <script src="js/loading-bar.min.js" type="text/javascript"></script>

    <script src="js/angular-strap.min.js" type="text/javascript"></script>

    <script src="js/angular-strap.tpl.min.js" type="text/javascript"></script>

    <script src="js/ui-bootstrap-tpls-0.10.0.min.js" type="text/javascript"></script>

    <script src="js/myFocus.js" type="text/javascript"></script>

    <script src="js/angular-scroll.js" type="text/javascript"></script>

    <script src="js/growl.js" type="text/javascript"></script>

    <script src="js/growlDirective.js" type="text/javascript"></script>

    <script src="js/growlFactory.js" type="text/javascript"></script>    
    
  <!--  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="js/print.js" type="text/javascript"></script>-->

    <script src="js/angular-resource.min.js" type="text/javascript"></script>
    <!--[if lt IE 10]>
        <meta http-equiv="refresh" content="0;url=https://myfcu.fcu.edu.tw/ie8/" />
    <![endif]-->

    <link href="css/growl.css" rel="stylesheet" type="text/css">
    <title>教學大綱〈W320104〉</title>
    <style type="text/css">
        .ta td
        {
            border: solid 1px;
        }
        .ta th
        {
            text-align: center;
            border: solid 1px;
        }
        th
        {
            /*background-color:#e5e5e5;*/
            color: #555;
        }
        hr
        {
            border-color: #DDD;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .pb
        {
            border: solid 1px #A9A9A9;
        }
        .panel
        {
            /*-webkit-box-shadow: 0 1px 2px 2px rgba(0,0,0,0.22);*/
            box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.22);
        }
        pre
        {
        	word-break:normal
        }
    </style>
</head>
<body>
    <!--    <div id="wrapper">
        <div id="content">-->
    <!--<div style="margin:20px 10px;"  ng-view></div>-->
    <br>
    <div id="content" ng-controller="indexCtl" style="margin-left:auto; margin-right:auto; max-width:1366px; min-width:600px" class="ng-scope">
        <!-- ngView:  --><div style="padding: 0.5%" ng-view="" class="ng-scope"><div class="ng-scope">
    <div style="padding: 0.5%">
        <div ng-controller="indexCtl" class="ng-scope">
            <h3 style="color: #555; margin: 0px; display: inline">
                <strong class="ng-binding"> 教學大綱查詢〈W320104〉</strong><small></small>
            </h3>
            <br>
            <div style="text-align:center; color:Red; width:100%" class="ng-binding"> 請遵守智慧財產權觀念，及不得不法影印 </div>
        </div>

        <!-- 課程資訊 -->
        <div class="panel panel-body pb">
             <!--課程編碼、課程名稱-->
             <div class="row mt-4" style="text-align:left;">
                <div class="col-md-6 ng-binding">
                    課程編碼：BIBA401
                </div>
                <div class="col-md-6 ng-binding">
                    課程名稱：
                    <div ng-show="lang.sel == 'tw'" style="display:inline;" class="ng-binding">留學與國際文化專題研討</div>
                    <div ng-show="lang.sel == 'en'" style="display:inline;" class="ng-binding ng-hide">SPECIAL TOPICS OF STUDY-ABROAD &amp; INTERNATIONAL CULTURES</div>
                    <div ng-show="lang.sel == 'twen'" style="display:inline;" class="ng-binding ng-hide">SPECIAL TOPICS OF STUDY-ABROAD &amp; INTERNATIONAL CULTURES</div>
                </div>
             </div>
             <!--開課學期、開課班級-->
             <div class="row mt-4" style="text-align:left">
                <div class="col-md-6 ng-binding">
                    開課學期：
                    <div ng-show="lang.sel == 'tw'" style="display:inline;" class="ng-binding">100學年度第1學期</div>
                    <div ng-show="lang.sel == 'en'" style="display:inline;" class="ng-binding ng-hide">100-1</div>
                    <div ng-show="lang.sel == 'twen'" style="display:inline;" class="ng-binding ng-hide">100-1</div>
                </div>
                <div class="col-md-6 ng-binding">
                    開課班級：
                    <div ng-show="lang.sel == 'tw'" style="display:inline;" class="ng-binding">國企四學位學程</div>
                    <div ng-show="lang.sel == 'en'" style="display:inline;" class="ng-binding ng-hide">Bachelor's Program of International Business Administration (English Program)</div>
                    <div ng-show="lang.sel == 'twen'" style="display:inline;" class="ng-binding ng-hide">Bachelor's Program of International Business Administration (English Program)</div>
                </div>
             </div>
             <!--修習別(學分數)、授課語言-->
             <div class="row mt-4" style="text-align:left">
                <div class="col-md-6 ng-binding">
                    修習別(學分數)：
                    <div ng-show="lang.sel == 'tw'" style="display:inline;" class="ng-binding">必修(0)</div>
                    <div ng-show="lang.sel == 'en'" style="display:inline;" class="ng-binding ng-hide">Required(0)</div>
                    <div ng-show="lang.sel == 'twen'" style="display:inline;" class="ng-binding ng-hide">Required(0)</div>
                </div>
                <div class="col-md-6 ng-binding">
                    授課語言 ：
                    <div ng-show="lang.sel == 'tw'" style="display:inline;" class="ng-binding"></div>
                    <div ng-show="lang.sel == 'en'" style="display:inline;" class="ng-binding ng-hide"></div>
                    <div ng-show="lang.sel == 'twen'" style="display:inline;" class="ng-binding ng-hide"></div>
                </div>
             </div>
             <!--上課時間、上課地點-->
             <div class="row mt-4" style="text-align:left">
                <div class="col-md-6 ng-binding">
                    上課時間：
                    <div ng-show="lang.sel == 'tw'" style="display:inline;" class="ng-binding">(六)00</div>
                    <div ng-show="lang.sel == 'en'" style="display:inline;" class="ng-binding ng-hide"></div>
                    <div ng-show="lang.sel == 'twen'" style="display:inline;" class="ng-binding ng-hide"></div>
                </div>
                <div class="col-md-6 ng-binding">
                    上課地點：
                    <div ng-show="lang.sel == 'tw'" style="display:inline;" class="ng-binding"></div>
                    <div ng-show="lang.sel == 'en'" style="display:inline;" class="ng-binding ng-hide"></div>
                    <div ng-show="lang.sel == 'twen'" style="display:inline;" class="ng-binding ng-hide"></div>
                </div>
             </div>
             <!--授課教師-->
             <div class="row mt-4" style="text-align:left">
                <div class="col-md-6 ng-binding">
                    授課教師：
                    <div ng-show="lang.sel == 'tw'" style="display:inline;" class="ng-binding"></div>
                    <div ng-show="lang.sel == 'en'" style="display:inline;" class="ng-binding ng-hide"></div>
                    <div ng-show="lang.sel == 'twen'" style="display:inline;" class="ng-binding ng-hide"></div>
                </div>
             </div>        
       </div>        
      <div class="panel panel-body pb">
            <!-- ngInclude: 'view/completeVer.htm' --><div ng-include="'view/completeVer.htm'" style="height: 100%;" class="ng-scope"><!--<style>
@media print
{
table {page-break-after:always;}
}-->
<!--</style>-->
<div id="printable" class="ng-scope">
    <div ng-controller="courseDescrCtl" class="ng-scope">
        <!--<h5 style="text-align: right">
            語系(language)：<input type="radio" name="lang" ng-model="lang.sel" value="tw" ng-change="setlang(lang.sel)" />中(zh_tw)<input
                type="radio" name="lang" ng-model="lang.sel" value="en" ng-change="setlang(lang.sel)" />English(Eng)<input
                    type="radio" name="lang" ng-model="lang.sel" value="twen" ng-change="setlang(lang.sel)" />中文欄位+英文內容
        </h5>-->
        <!--課程描述-->
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th style="width: 20%; vertical-align: middle" class="ng-binding">
                        <!-- 課程編碼
                        <br />
                        Course Code-->
                        課程編碼
                    </th>
                    <td style="width: 20%; vertical-align: middle" class="ng-binding">
                        BIBA401  
                    </td>
                    <th style="width: 20%; vertical-align: middle" class="ng-binding">
                        <!--  學分<br />
                        Credits-->
                        學分
                    </th>
                    <td style="text-align: center; width: 40%; vertical-align: middle" class="ng-binding">
                        0
                    </td>
                    <td>
                        
                       <button class="btn btn-default navbar-btn ng-binding" ng-click="printDiv();">
                            <span class="glyphicon glyphicon-print" style="color: #428bca"></span>&nbsp;列印本頁</button>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: middle" class="ng-binding">
                        <!--課程名稱
                        <br />
                        Course Name-->
                        課程名稱
                    </th>
                    <td colspan="4">
                        <!-- {{courseDescr[0].sub_name}}
                        <hr />
                        {{courseDescr[0].sub_ename}}-->
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            留學與國際文化專題研討</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            SPECIAL TOPICS OF STUDY-ABROAD &amp; INTERNATIONAL CULTURES</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            SPECIAL TOPICS OF STUDY-ABROAD &amp; INTERNATIONAL CULTURES</div>
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align: middle" class="ng-binding">
                        <!--課程描述
                        <br />
                        Course Description-->
                        課程描述
                    </th>
                    <td colspan="4">
                        <!--    {{courseDescr[0].describe_ch}}
                        <hr />
                        {{courseDescr[0].describe_en}}-->
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            本課程主要目標為提供學生一套跨文化視野，協助每一位學生統整在逢甲大學的基礎教育、通識教育、商管專業課程以及生活經驗，並有系統地紀錄與省思自己在留學期間的專業學習與跨文化學習與調適經驗。
  學生紀錄與省思主要涵蓋四個層面 (1)專業知識與技能的學習心得，(2)英語能力的提升，若為國際生，則為在逢甲期間中文能力的提升，(3)跨文化經驗，以及(4)生活調適。這些層面的經驗將被放在跨文化的視野下來檢視，透過反思與撰寫一系列的作業問題，將有助於學生成為一個具有人文素養與國際溝通能力的跨國企業管理專才。
</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            The objective of the course is to provide students with a set of cross-cultural framework, which enable students to integrate general education, professional courses, and other living experience in Feng Chia University. Then students will have to systematically record and reflect their professional learning and cross-cultural learning while studying in another country.
  Students will reflect and write down experiences in the following four areas: 1. Learning experience in accumulating professional knowledge and skills. 2. Improvement in English (or Chinese for international students at Feng Chia University). 3. Cross cultural experience. 4. Adaptation and adjustment in living in a foreign country. Through writing a series of reflecting assignments, students will acquire essential elements that are necessary for becoming an expert and a leader in the arena of international business.
</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            The objective of the course is to provide students with a set of cross-cultural framework, which enable students to integrate general education, professional courses, and other living experience in Feng Chia University. Then students will have to systematically record and reflect their professional learning and cross-cultural learning while studying in another country.
  Students will reflect and write down experiences in the following four areas: 1. Learning experience in accumulating professional knowledge and skills. 2. Improvement in English (or Chinese for international students at Feng Chia University). 3. Cross cultural experience. 4. Adaptation and adjustment in living in a foreign country. Through writing a series of reflecting assignments, students will acquire essential elements that are necessary for becoming an expert and a leader in the arena of international business.
</div>
                    </td>
                </tr>
            </thead>
        </table>
        <!--前置課程-->
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th colspan="3" class="ng-binding">
                        <!--前置課程 Preparatory Course-->
                        前置課程
                    </th>
                </tr>
                <tr>
                    <th class="ng-binding">
                        <!--課程編碼 Course Code-->
                        課程編碼
                    </th>
                    <th class="ng-binding">
                        <!--課程名稱 Course Name-->
                        課程名稱
                    </th>
                    <th class="ng-binding">
                        <!--與課程銜接的重要概念、原理與技能 Important ideas, principles and skills linked to course-->
                        與課程銜接的重要概念、原理與技能
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: preCourse in preCourses -->
            </tbody>
        </table>
        <!--.課程目標與基本/核心能力/學習目標相關性-->
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th colspan="3" class="ng-binding">
                        <!-- 課程目標與基本/核心能力相關性 Correlation of Course Objectives and Basic/Core Lreaning Outcomes
                        <br />
                        學習目標層次(選填): 1.知識 2.理解 3.應用 4.分析 5.綜合 6.評鑑 Theme of Learning Levels (Choose):1.Knowledge
                        2.Comprehension 3.Application 4.Analysis 5.Synthesis 6.Evaluation-->
                        課程目標與基本/核心能力相關性<br>
                        學習目標層次(選填): 1.知識 2.理解 3.應用 4.分析 5.綜合 6.評鑑
                    </th>
                </tr>
                <tr>
                    <!--<th>
                        中文 Chinese
                    </th>
                    <th>
                        英文 English
                    </th>-->
                    <th class="ng-binding">
                        目標描述
                    </th>
                    <th class="ng-binding">
                        <!--相關性(學習目標層次) Correlation(Theme of Learning Levels)-->
                        相關性(學習目標層次)
                    </th>
                </tr>
                <!-- ngRepeat: correlation in correlations --><tr ng-repeat="correlation in correlations" class="ng-scope">
                    <!-- <td style="width: 34%">
                        {{correlation.describe_ch}}
                    </td>
                    <td style="width: 33%">
                        {{correlation.describe_en}}
                    </td>-->
                    <td style="width: 70%">
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            學生將應用在國外留學之經驗，省思自己在留學期間的專業學習與跨文化學習與調適經驗。</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            Students will apply the study-abroad experience to reflect their professional learning and cross-cultural learning.</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            Students will apply the study-abroad experience to reflect their professional learning and cross-cultural learning.</div>
                    </td>
                    <td style="width: 30%; text-align: center" class="ng-binding">
                        B3 
                    </td>
                </tr><!-- end ngRepeat: correlation in correlations --><tr ng-repeat="correlation in correlations" class="ng-scope">
                    <!-- <td style="width: 34%">
                        {{correlation.describe_ch}}
                    </td>
                    <td style="width: 33%">
                        {{correlation.describe_en}}
                    </td>-->
                    <td style="width: 70%">
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            綜合：透過反思與撰寫一系列的作業問題，將有助於學生成為一個具有人文素養與國際溝通能力的跨國企業管理專才。</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            Synthesis: Through writing a series of reflecting assignments, students will acquire essential elements that are necessary for becoming an expert and a leader in the arena of international business.</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            Synthesis: Through writing a series of reflecting assignments, students will acquire essential elements that are necessary for becoming an expert and a leader in the arena of international business.</div>
                    </td>
                    <td style="width: 30%; text-align: center" class="ng-binding">
                        B5 
                    </td>
                </tr><!-- end ngRepeat: correlation in correlations -->
            </thead>
        </table>
        <!--基本核心能力-->
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <!--<th colspan="2">
                        基本/核心能力 Basic / Core Learning Outcomes
                    </th>-->
                    <th class="ng-binding">
                         基本/核心能力
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: learnOutcome in learnOutcomes --><tr ng-repeat="learnOutcome in learnOutcomes" class="ng-scope">
                    <!--<td style="width: 50%">
                        {{learnOutcome.core}}
                    </td>
                    <td>
                        {{learnOutcome.core_en}}
                    </td>-->
                    <td>
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            A.學生具備國際企業管理專業知識Possess the professional knowledge of international business management with global perspective.
</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            A.學生具備國際企業管理專業知識Possess the professional knowledge of international business management with global perspective.
</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            A.學生具備國際企業管理專業知識Possess the professional knowledge of international business management with global perspective.
</div>
                    </td>
                </tr><!-- end ngRepeat: learnOutcome in learnOutcomes --><tr ng-repeat="learnOutcome in learnOutcomes" class="ng-scope">
                    <!--<td style="width: 50%">
                        {{learnOutcome.core}}
                    </td>
                    <td>
                        {{learnOutcome.core_en}}
                    </td>-->
                    <td>
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            B.學生具備跨文化之理性分析能力Possess the cross-cultural rational analyzing abilities
</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            B.學生具備跨文化之理性分析能力Possess the cross-cultural rational analyzing abilities
</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            B.學生具備跨文化之理性分析能力Possess the cross-cultural rational analyzing abilities
</div>
                    </td>
                </tr><!-- end ngRepeat: learnOutcome in learnOutcomes --><tr ng-repeat="learnOutcome in learnOutcomes" class="ng-scope">
                    <!--<td style="width: 50%">
                        {{learnOutcome.core}}
                    </td>
                    <td>
                        {{learnOutcome.core_en}}
                    </td>-->
                    <td>
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            C.學生具備外語表達及溝通能力Possess the abilities of expression and communication of foreign language
</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            C.學生具備外語表達及溝通能力Possess the abilities of expression and communication of foreign language
</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            C.學生具備外語表達及溝通能力Possess the abilities of expression and communication of foreign language
</div>
                    </td>
                </tr><!-- end ngRepeat: learnOutcome in learnOutcomes --><tr ng-repeat="learnOutcome in learnOutcomes" class="ng-scope">
                    <!--<td style="width: 50%">
                        {{learnOutcome.core}}
                    </td>
                    <td>
                        {{learnOutcome.core_en}}
                    </td>-->
                    <td>
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            D.學生具備系統與策略思考能力
Possess the systematical and strategic thinking abilities.
</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            D.Possess the systematical and strategic thinking abilities.</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            D.Possess the systematical and strategic thinking abilities.</div>
                    </td>
                </tr><!-- end ngRepeat: learnOutcome in learnOutcomes --><tr ng-repeat="learnOutcome in learnOutcomes" class="ng-scope">
                    <!--<td style="width: 50%">
                        {{learnOutcome.core}}
                    </td>
                    <td>
                        {{learnOutcome.core_en}}
                    </td>-->
                    <td>
                        <div ng-show="lang.sel == 'tw'" class="ng-binding">
                            E.學生具備資訊搜尋操作及整合能力Possess the abilities of information searching operation and integrating.</div>
                        <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                            E.Possess the abilities of information searching operation and integrating.</div>
                        <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                            E.Possess the abilities of information searching operation and integrating.</div>
                    </td>
                </tr><!-- end ngRepeat: learnOutcome in learnOutcomes -->
            </tbody>
        </table>
    </div>
    <!--評量方式-->
    <div ng-controller="evolInfoCtl" style="page-break-before: always" class="ng-scope">
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle" class="ng-binding">
                        <!-- 評量方式<br />
                        Assessment Methods-->
                        評量方式
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <pre ng-show="lang.sel == 'tw' " class="ng-binding"></pre>
                        <pre ng-show="lang.sel == 'en' " class="ng-binding ng-hide"></pre>
                        <pre ng-show="lang.sel == 'twen' " class="ng-binding ng-hide"></pre>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--教科書-->
        <table class="table table-bordered" width="100%" style="page-break-before: always">
            <thead>
                <tr>
                    <th colspan="5">
                        <table style="border-style: hidden" width="100%">
                            <tbody><tr>
                                <th style="width: 100%" class="ng-binding">
                                    <!--教科書 (書名、作者、書局/代理商、說明)<br />
                                    Textbook (Title, Author, Publisher/ Local Representative, Explanation)-->
                                    教科書 (書名、作者、書局/代理商、說明)
                                </th>
                            </tr>
                        </tbody></table>
                    </th>
                </tr>
                <tr>
                    <th class="ng-binding">
                        <!--書名<br />
                        Title-->
                        書名
                    </th>
                    <th class="ng-binding">
                        <!-- 作者<br />
                        Author-->
                        作者
                    </th>
                    <th class="ng-binding">
                        <!--書局/代理商<br />
                        Publisher/ Local Representative-->
                        書局/代理商
                    </th>
                    <th class="ng-binding">
                        <!--  說明<br />
                        Explanation-->
                        說明
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: textbook in textbooks -->
            </tbody>
        </table>
        
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th colspan="4" class="ng-binding">
                       軟體(名稱、版本、說明)                
                    </th>
                </tr>
                <tr>
                    <th class="ng-binding">名稱</th>
                    <th class="ng-binding">版本</th>
                    <th class="ng-binding">說明</th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: softWareData in softWare -->
            </tbody>
        </table>

        
        <!--補充教材-->
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th colspan="5">
                        <table style="border-style: hidden" width="100%">
                            <tbody><tr>
                                <th style="width: 100%" class="ng-binding">
                                    <!--補充教材 (書名/文獻/工具、作者、書局/代理商、說明)<br />
                                    Reference Materials (Title/ Reference/ Instruments, Author, Publisher/ Local Representative,
                                    Explanation)-->
                                    補充教材 (書名/文獻/工具、作者、書局/代理商、說明)
                                </th>
                            </tr>
                        </tbody></table>
                    </th>
                </tr>
                <tr>
                    <th class="ng-binding">
                        <!--書名/文獻/工具<br />
                        Title/ Reference/ Instruments-->
                        書名/文獻/工具
                    </th>
                    <th class="ng-binding">
                        <!-- 作者<br />
                        Author-->
                        作者
                    </th>
                    <th class="ng-binding">
                        <!--書局/代理商<br />
                        Publisher/ Local Representative-->
                        書局/代理商
                    </th>
                    <th class="ng-binding">
                        <!--說明<br />
                        Explanation-->
                        說明
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: reference in references -->
            </tbody>
        </table>
        <!--教材網址--> <!--2019-08-05 應要求移除教材網址、課程備註 先隱藏-->
        <!--<table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th colspan="2">
                       
                        {{translation.TeachingMaterials}}
                    </th>
                </tr>
                <tr>
                    <th>
                       
                        {{translation.InternetSite}}
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    <a href="{{tpa[0].tpa_url}}" target="_blank">{{tpa[0].tpa_url}}</a>
                </td>
            </tr>
        </table>-->
        <table class="table table-bordered" width="100%" style="page-break-before: always">
            <!--課程備註-->
            <thead>
                <tr>
                    <th colspan="2" class="ng-binding">
                        
                        課程備註
                    </th>
                </tr>
                <!--<tr>
                    <th>                        
                        {{translation.Remark}}
                    </th>
                </tr>-->
            </thead>
            <tbody>
                <tr>
                    <td>
                        <pre ng-show="lang.sel == 'tw'" class="ng-binding"></pre>
                        <pre ng-show="lang.sel == 'en'" class="ng-binding ng-hide"></pre>
                        <pre ng-show="lang.sel == 'twen'" class="ng-binding ng-hide"></pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--進度內容-->
    <div ng-controller="scheduleCtl" class="ng-scope">
        <table class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <th colspan="5">
                        <table style="width: 100%; border-style: hidden">
                            <tbody><tr>
                                <th style="width: 100%" class="ng-binding">
                                    <!--授課進度與內容(週次、單元名稱與內容、習作/考試進度、備註)<br />
                                    Teaching Schedule & Content (Week, Title and Content of Unit, Assignments/ Quizzes,
                                    Remarks)-->
                                    授課進度與內容(週次、單元名稱與內容、習作/考試進度、備註)
                                </th>
                            </tr>
                        </tbody></table>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center" class="ng-binding">
                        <!--週次<br />
                        Week-->
                        週次
                    </th>
                    <th style="text-align: center" class="ng-binding">
                        <!--單元名稱與內容<br />
                        Title and Content of Unit-->
                        單元名稱與內容
                    </th>
                    <th style="text-align: center" class="ng-binding">
                        <!--習作/考試進度<br />
                        Assessment Method-->
                        評量方法
                    </th>
                    <th style="text-align: center" class="ng-binding">
                        <!-- 備註(補充資料)<br />
                        Remarks(Reference Materials)-->
                        備註(補充資料)
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- ngRepeat: schedule in schedules | orderBy:tpd_seq -->
            </tbody>
        </table>
    </div>
    <div ng-controller="evolMtdCtl" class="ng-scope">
        <div ng-hide="objIsEditing" class="">
            <!--課程目標,教學策略,評量方法-->
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th colspan="4" class="ng-binding">
                            <!-- 課程目標之教學策略與評量方法<br />
                            Teaching Strategies and Assessment Methods for Course Objectives-->
                            課程目標之教學策略與評量方法
                        </th>
                    </tr>
                    <tr>
                        <th class="ng-binding">
                            <!-- 課程目標<br />
                            Course Objectives-->
                            課程目標
                        </th>
                        <th class="ng-binding">
                            <!--教學策略<br />
                            Teaching Strategies-->
                            教學策略
                        </th>
                        <th class="ng-binding">
                            <!--評量方法<br />
                            Assessment Method-->
                            評量方法
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ngRepeat: objective in objectives --><tr ng-repeat="objective in objectives" class="ng-scope">
                        <td>
                            <div ng-show="lang.sel == 'tw'" class="ng-binding">
                                學生將應用在國外留學之經驗，省思自己在留學期間的專業學習與跨文化學習與調適經驗。</div>
                            <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                                Students will apply the study-abroad experience to reflect their professional learning and cross-cultural learning.</div>
                            <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                                Students will apply the study-abroad experience to reflect their professional learning and cross-cultural learning.</div>
                        </td>
                        <td>
                            <!-- ngRepeat: strgy in objective.strgys -->
                        </td>
                        <td>
                            <!-- ngRepeat: evalb in objective.evalbs -->
                        </td>
                    </tr><!-- end ngRepeat: objective in objectives --><tr ng-repeat="objective in objectives" class="ng-scope">
                        <td>
                            <div ng-show="lang.sel == 'tw'" class="ng-binding">
                                綜合：透過反思與撰寫一系列的作業問題，將有助於學生成為一個具有人文素養與國際溝通能力的跨國企業管理專才。</div>
                            <div ng-show="lang.sel == 'en'" class="ng-binding ng-hide">
                                Synthesis: Through writing a series of reflecting assignments, students will acquire essential elements that are necessary for becoming an expert and a leader in the arena of international business.</div>
                            <div ng-show="lang.sel == 'twen'" class="ng-binding ng-hide">
                                Synthesis: Through writing a series of reflecting assignments, students will acquire essential elements that are necessary for becoming an expert and a leader in the arena of international business.</div>
                        </td>
                        <td>
                            <!-- ngRepeat: strgy in objective.strgys -->
                        </td>
                        <td>
                            <!-- ngRepeat: evalb in objective.evalbs -->
                        </td>
                    </tr><!-- end ngRepeat: objective in objectives -->
                </tbody>
            </table>
            <br>
            <!--教學模式-->
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th rowspan="3" style="width: 10%; text-align: center; vertical-align: middle" class="ng-binding">
                            <!--教學模式<br />
                            Teaching Method-->
                            教學方式
                        </th>
                        <th align="center" style="width: 10%; text-align: center" class="ng-binding">
                            <!--教學模式<br />
                            Teaching Method-->
                            教學方式
                        </th>
                        <th style="width: 15%; text-align: center" class="ng-binding">
                            <!-- 講授<br />
                            Lecture-->
                            講授
                        </th>
                        <th style="width: 20%; text-align: center" class="ng-binding">
                            <!--討論/報告<br />
                            Discussion / Reports-->
                            討論/報告
                        </th>
                        <th style="width: 25%; text-align: center" class="ng-binding">
                            <!--     實驗/實習/參訪<br />
                            Experiments / Internship / Field Trips-->
                            實驗/實作/參訪
                        </th>
                        <th style="text-align: center" class="ng-binding">
                            <!-- 合計<br />
                            Total-->
                            合計
                        </th>
                    </tr>
                    <!-- ngRepeat: score in scores --><tr ng-repeat="score in scores" class="ng-scope">
                        <th align="center" style="text-align: center" class="ng-binding">
                            <!--學分分配<br />
                            Credit Allocation-->
                            學分分配
                        </th>
                        <td style="text-align: right" class="ng-binding">
                            0.00
                        </td>
                        <td style="text-align: right" class="ng-binding">
                            0.00
                        </td>
                        <td style="text-align: right" class="ng-binding">
                            0.00
                        </td>
                        <td style="text-align: right" class="ng-binding">
                            0
                        </td>
                    </tr><!-- end ngRepeat: score in scores -->
                    <!-- ngRepeat: score in scores --><tr ng-repeat="score in scores" class="ng-scope">
                        <th align="center" style="text-align: center" class="ng-binding">
                            <!--授課時數分配<br />
                            Class Time Allocation-->
                            授課時數分配
                        </th>
                        <td style="text-align: right" class="ng-binding">
                            0.00
                        </td>
                        <td style="text-align: right" class="ng-binding">
                            0.00
                        </td>
                        <td style="text-align: right" class="ng-binding">
                            0.00
                        </td>
                        <td style="text-align: right" class="ng-binding">
                            0
                        </td>
                    </tr><!-- end ngRepeat: score in scores -->
                </thead>
            </table>
        </div>
    </div>
</div>
</div>
      </div>
      <div id="alerts-container"></div>
    </div>
</div>
<div growl="" class="ng-scope"><div class="growl">	<!-- ngRepeat: message in messages --></div></div>
 </div>
        <div growl="" class="ng-scope"><div class="growl">	<!-- ngRepeat: message in messages --></div></div>
    </div>


</body></html>